<!DOCTYPE html>
<html ng-app='esriTest'>
  <head>
    <meta charset="UTF-8">
    <meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <title>
      Esri Leaflet Bug Demo
    </title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
  </head>
  <body>
    <div style='width:100%; height: 500px'>
      <mapvtwo style='width: 100%; height: 100%; display: block'></mapvtwo>
    </div>
  </body>
</html>
